* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgba(49, 98, 138, 0.5);
  overflow: hidden;
}

#plane {
  width: 100vw;
  height: 50vh;
  position: absolute;
  background-image: url(../images/plane4.png);
  background-repeat: no-repeat;
}
#buildings {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/Building3.png);
  background-repeat: repeat-x;
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
}

button {
  position: relative;
  padding: 6px 10px;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.6);
}
#man {
  width: 500px;
  position: absolute;
  left: 30vw;
  bottom: -24vh;
  z-index: 5;
}

#man svg {
  width: 100%;
}
