* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgba(49, 98, 138, 0.5);
  overflow: hidden;
}

#plane {
  width: 300vw;
  height: 75vh;
  position: absolute;
  background-image: url(../images/plane4.png);
  background-repeat: no-repeat;
}
#buildings {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/Building3.png);
  background-repeat: repeat-x;
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
}

/*
#buildings {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(../images/Building3.png);
  background-repeat: repeat-x ;
  background-position: center;
  bottom: 0;
  animation: building 20s linear infinite;
}

@keyframes building {
  100% {
    transform: translateX(-1000px);
  }
}
*/

button {
  position: relative;
}
#man {
  width: 500px;
  position: relative;
  left: 30vw;
  bottom: -24vh;
  z-index: 5;
}

#man svg {
  width: 100%;
}
